* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

:root {
  --background: #141414;
}

.onTop {
  position: relative;
  z-index: 2;
}

.full-bleed {
  width: 100%;
}

.defaultBg {
  background: var(--background);
}

.transparentBg {
  background: rgba(0, 0, 0, 0.75);
}

.layouted {
  display: grid;
  grid-template-columns: 1fr calc(min(77rem, 100%)) 1fr;
  height: 100%;

  & * {
    grid-column: 2;
  }
}
