$primary-color: #fff;
$secondary-color: grey;
$profile-name-font-size: 1.2vw;

@mixin flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  height: 68px;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 10%,
    transparent
  );
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
}

.profilesWrapper {
  height: 100%;
  @include flexbox();
  flex-direction: column;
  gap: 30px;
  font-family: var(--font-rubik);

  h1 {
    color: $primary-color;
    font-size: 3.5vw;
    font-weight: 400;
    user-select: none;
  }

  .profiles {
    @include flexbox();

    .profileCard {
      @include flexbox();
      flex-direction: column;
      gap: 10px;
      cursor: pointer;

      & > img {
        height: 10vw;
        width: 10vw;
        border-radius: 4px;
        object-fit: cover;
        max-height: 200px;
        max-width: 200px;
        min-height: 84px;
        min-width: 84px;
      }

      & > p {
        color: $secondary-color;
        font-size: $profile-name-font-size;
      }

      &:hover {
        img {
          outline: 2px solid $primary-color;
        }

        p {
          color: $primary-color;
        }
      }
    }
  }

  .manageProfiles {
    margin-top: 25px;
    color: $secondary-color;
    padding: 0.5em 1.5em;
    font-size: $profile-name-font-size;
    border: 1px solid $secondary-color;
    cursor: pointer;

    &:hover {
      color: $primary-color;
      border-color: $primary-color;
    }
  }
}
