$primary-color: #e50914;

@mixin flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loaderWrapper {
  @include flexbox();
  height: 100%;
  background: var(--background-color);

  & > svg {
    fill: $primary-color;
    height: 40px;
    width: auto;
  }
}
