$primary-color: #fff;
$secondary-color: #ccc;
$hover-color: #e50914;
$icon-width: 8vw;
$profile-name-font-size: 1.2vw;
$container-max-width: 60vw;
$divider-opacity: 0.3;

@mixin flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.editProfileWrapper,
.deleteProfileWrapper {
  @include flexbox();
  align-items: flex-start;
  height: 100%;
  font-family: var(--font-rubik);
  padding: 12vh 0;

  .loaderWrapper {
    position: absolute;
    inset: 0;
    @include flexbox();
    z-index: 1;
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    filter: brightness(0.6);

    & > svg {
      fill: $hover-color;
      height: 2vw;
      width: 2vw;
    }
  }

  .main {
    @include flexbox();
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    animation: scale-in forwards 0.3s ease-in-out;
    opacity: 0;
    transform: scale(1.1);
    width: $container-max-width;
    position: relative;

    @keyframes scale-in {
      100% {
        opacity: 1;
        transform: scale(1);
      }
    }

    h1 {
      width: 100%;
      color: $primary-color;
      font-size: 4vw;
      font-weight: 400;
      user-select: none;
      border-bottom: 1px solid
        rgba($color: $secondary-color, $alpha: $divider-opacity);
    }

    .profileEntry {
      width: 100%;
      --column-gap: 2vw;
      column-gap: var(--column-gap);
      display: grid;
      grid-template-columns: $icon-width calc(
          $container-max-width - var(--column-gap) - $icon-width
        );

      & > img {
        height: $icon-width;
        width: $icon-width;
        max-height: 180px;
        max-width: 180px;
        min-height: 80px;
        min-width: 80px;
        border-radius: 4px;
      }

      & > form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;

        input[type='text'] {
          color: $primary-color;
          background: #666;
          outline: none;
          border: none;
          padding: 0.2em 0.6em;
          height: 2em;
          border-radius: 2px;
        }

        input[type='text'][data-error='true'] {
          outline: 1px solid $hover-color;
        }

        input[type='text']::placeholder {
          color: #eee;
        }

        .error {
          color: red;
          margin-top: -12px;
          font-size: 1vw;
        }

        .gameHandle {
          width: 100%;
          @include flexbox();
          flex-direction: column;
          align-items: flex-start;
          gap: 10px;
          border-bottom: 1px solid
            rgba($color: $secondary-color, $alpha: $divider-opacity);
          padding-bottom: 3vw;
          position: relative;

          label {
            color: $secondary-color;
            font-size: 1.3vw;
            font-weight: 400;
          }

          p {
            color: $primary-color;
            font-size: 1vw;

            &:last-child {
              position: absolute;
              bottom: 10px;
              right: 0;
            }
          }

          input {
            width: 100%;
          }
        }

        .autoplayControls {
          @include flexbox();
          flex-direction: column;
          align-items: flex-start;
          gap: 8px;

          h4 {
            color: $secondary-color;
            font-size: 1.3vw;
            font-weight: 400;
          }

          span {
            display: flex;
            font-size: 0.9vw;
            align-items: center;
            gap: 5px;
          }

          label {
            color: $primary-color;
          }
        }
      }
    }

    .controls {
      @include flexbox();
      justify-content: flex-start;
      gap: 2vw;
      width: 100%;
      border-top: 1px solid
        rgba($color: $secondary-color, $alpha: $divider-opacity);
      padding-top: 20px;

      button {
        border: none;
        outline: none;
        cursor: pointer;
        padding: 0.5em 1.5em;
        font-size: 1.2vw;
        outline: 1px solid grey;
        border-radius: 2px;
        font-weight: 600;

        &:first-child {
          outline: none;

          &:hover {
            background: $hover-color;
            color: $primary-color;
          }
        }

        &:nth-child(2),
        &:nth-child(3) {
          background: transparent;
          color: grey;

          &:hover {
            color: $primary-color;
            outline-color: $primary-color;
          }
        }
      }
    }
  }
}

.deleteProfileWrapper {
  --max-width: 40vw;
  @include flexbox();
  color: $primary-color;

  & > div {
    @include flexbox();
    flex-direction: column;
    align-items: flex-start;
    animation: scale-in forwards 0.3s ease-in-out;
    opacity: 0;
    transform: scale(1.1);
    margin: auto;
    width: var(--max-width);
    position: relative;
    gap: 15px;

    @keyframes scale-in {
      100% {
        opacity: 1;
        transform: scale(1);
      }
    }

    h1 {
      font-size: 4vw;
      font-weight: 400;
    }

    .profileEntry {
      --column-gap: 20px;
      padding: 1.5em 0;
      border-bottom: 1px solid #333;
      border-top: 1px solid #333;
      display: grid;
      column-gap: var(--column-gap);
      grid-template-columns: $icon-width calc(
          var(--max-width) - var(--column-gap) - $icon-width
        );

      & > div {
        @include flexbox();
        flex-direction: column;

        img {
          height: $icon-width;
          width: $icon-width;
        }

        p {
          color: grey;
          display: block;
          font-size: 1.3vw;
          line-height: 1.2em;
          margin: 0.6em 0 0;
          min-height: 1.8em;
          overflow: hidden;
          text-align: center;
          text-overflow: ellipsis;
        }
      }

      h3 {
        font-size: 1.2vw;
        font-weight: 400;
        align-self: center;
      }
    }

    .controls {
      @include flexbox();
      justify-content: flex-start;
      gap: 2vw;

      button {
        margin-top: 10px;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 0.5em 1.5em;
        border-radius: 2px;
        font-size: 1.2vw;

        &:nth-child(1) {
          &:hover {
            background: $hover-color;
            color: $primary-color;
          }
        }

        &:nth-child(2) {
          background: transparent;
          color: grey;
          outline: 1px solid grey;

          &:hover {
            color: $primary-color;
            outline-color: $primary-color;
          }
        }
      }
    }
  }
}

.hidden {
  display: none;
}
